# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE settings
.vscode/
.idea/

# Environment variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log